/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #386ba4;
    background-image: url('../img/par2.jpg');
}

a {
  color: #8d53a0;
}

.form-wrap,
.content-wrap {
    position: relative;
    z-index: 100;
    margin: 0 auto;
}

.content-wrap {
    margin-top: 100px;
}

.content-wrap p {
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    width: 65%;
    margin: 50px auto;
    opacity: 1;
}

.splash-image {
    background-image: url('../img/par2.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}


form {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.form-success.scale-up {
    -webkit-transform: scale(1);
    opacity: 1;
}

.scale-down {
    -webkit-transform: scale(0);
    opacity: 0;
}

.form-success {
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 230px;
    margin: 0 auto;
    background-color: #00c252;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    position: absolute;
    left: 50%;
    margin-left: -115px;
    top: -5px;
    z-index: 40;
    -webkit-transform: scale(0);
    opacity: 0;
    transition: 0.3s;
}

.form-ui {
    transition: 0.3s;
}

form input,
form button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    vertical-align: top;
    z-index: 50;
    position: relative;
    -webkit-transform: scale(1);
    opacity: 1;

}

form button {
    background-color: #1f5375;
    color: #fff;
    line-height: 0;
}

form button:hover {
    background-color: #3FA9F5;
}

form button:focus {
    outline: none;
}

form button:active {
    background-color: #2772a2;
}

form input {
    width: 280px;
    border-color: rgba(23, 60, 84, 0);

}

form input:focus {
    width: 310px;
    outline: none;
}


footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    z-index: 100;
    text-align: center;
}

footer p,
footer p a {
    display: inline-block;
    color: #fff;
    opacity: 0.8;
}

footer a {
  text-decoration: none;
  margin-right: 20px;
}

footer a:hover {
    opacity: 1;
    text-decoration: underline;
}

/* meetup info */

.meetup-info {
  background-color: #fff;
  padding: 150px 0;
  margin: 40px 0px;
  position: relative;
}

.meetup-info::before,
.meetup-info::after {
  content: '';
  background: url('../img/sharka.png') repeat;
  width: 100%;
  height: 23px;
  display: block;
  position: absolute;
}

.meetup-info::before {
  top: -8px;
}

.meetup-info::after {
  bottom: -8px;
}

.meetup-info p {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: #555;
}


/* ani */

.first-ani {
     -webkit-animation: show-up 1s;
}

.second-ani {
     -webkit-animation: show-up-late 1s;
}

.third-ani {
    -webkit-animation: show-up-super-late 1.2s;
}

@-webkit-keyframes show-up {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes show-up-late {

    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes show-up-super-late {

    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 1280px) {

    .content-wrap p {
        font-size: 18px;
    }
}

@media (max-width: 785px) {

    .splash-image {

        background-image: none;
    }

    .content-wrap {
        margin-top: 10px;
    }

    .content-wrap p {
        width: 80%;
    }

    form {
        width: 80%;
    }

    form input {
        width: 220px;
        margin-top: 10px;
    }

    form input:focus {
        width: 250px;
    }

    .form-success {
        margin-left: -130px;
    }

    button {
        margin-top: 10px;
    }

    footer {
        position: relative;
    }
}
