/*header*/

.hero {
  height: 546px;
  background: $udg-blue;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding-top: 250px;
}

.hero .udg-logo,
.hero a,
.hero p {
  position: relative;
  z-index: 100;
}

.hero a {
  color: $udg-darkblue;
  font-size: 14px;
  font-weight: 700;
  margin: 10px auto;
  display: inline-block;
}

.hero p {
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
  width: 560px;
  margin: 20px auto;
}

.udg-logo {
  display: block;
  margin: 0 auto;
}

.hero-image {
  bottom: 0;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}


/*info-cards*/

.info-card {
  box-sizing: border-box;
  max-width: 860px;
  margin: 40px auto;
  padding: 30px 40px;
  background: #fff;
  font-size: 18px;
}

.info-card.card-meetup {
  position: relative;
  z-index: 200;
  margin-top: -50px;
}

.info-card h1 {
  margin-top: 0px;
  display: inline-block;
}

.info-card p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.info-card .info-date,
.info-card .info-location {
  float: right;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
}

.info-card footer {
  text-align: right;
}

.card-meetup i,
.card-meetup h1 span {
  color: $udg-purple;
}

.card-conf i,
.card-conf h1 span {
  color: $udg-blue;
}

.card-conf .form-success i {
  color: #fff;
}

.card-meetup .info-register {
  background-color: $udg-purple;
}

.info-register {
  font-weight: 700;
  color: #fff;
  padding: 15px 25px;
  display: inline-block;
  transition: 0.3s;

  & i {
    color: #fff;
    margin-left: 5px;
    font-size: 0px;
    transition: 0.3s
  }

  &:hover {
    text-decoration: none;
    background-color: darken($udg-purple, 10%);

    & i {
      font-size: 18px;
    }
  }
}

.fb-join {
  font-size: 16px;
  color: $udg-purple;
  margin-right: 10px;
}


/*form*/

form {
  position: relative;
}

.form-success.scale-up {
    transform: scale(1);
    opacity: 1;
}

.scale-down {
    transform: scale(0);
    opacity: 0;
}

.form-success {
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    margin: 0 auto;
    background-color: #00c252;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    z-index: 340;
    transform: scale(0);
    transform-origin: right;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.form-ui {
    transition: 0.3s;
    transform: scale(1);
    transform-origin:right;
}

form input,
form button {
    height: 55px;
    padding: 15px 25px;
    box-sizing: border-box;
    transition: 0.3s;
    vertical-align: top;
    z-index: 50;
    position: relative;
    opacity: 1;
}

form input {
  background-color: #e8e8e8;
}

form button {
    background-color: $udg-blue;
    color: #fff;
    line-height: 0;
    border: none;
    padding: 10px 15px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      background: $udg-darkblue;
      cursor: pointer;
    }
}

form button:focus {
    outline: none;
}

form button:active {
    background-color: #2772a2;
}

form input {
    width: 280px;
    border-color: rgba(23, 60, 84, 0);
}

form input:focus {
    width: 310px;
    outline: none;
}


footer .sharka {
  text-align: center;
  margin: 30px auto;
  display: block;
}

footer.service-info {
    min-width: 300px;
    z-index: 100;
    text-align: center;
    margin: 0 auto;
}

footer.service-info p,
footer.service-info p a {
    display: inline-block;
    margin: 10px;
}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
  .hero {
    height: 400px;
    padding-top: 120px;
  }
}

@media (max-width: 786px) {
  .hero {
    height: auto;;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero-image {
    display: none;
  }

  .hero p {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .info-card {
    padding: 30px;
  }

  .fb-join {
    display: block;
    margin-bottom: 20px;
  }

  .info-card footer {
    text-align: center;
  }

  .info-card.card-meetup {
    margin-top: 30px;
  }

  .info-card .info-date,
  .info-card .info-location {
    display: block;
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
  }

  form input {
    width: auto;
    margin-bottom: 20px;

    &:focus {
      width: auto;
    }
  }


}

.first-ani {
     animation: show-up 1s;
}

.second-ani {
     animation: show-up-late 1s;
}

.third-ani {
    animation: show-up-super-late 1.2s;
}
